body {
	font-family: 'Helvetica Heue', Helvetica, Arial, sans-serif;
}

nav {
	margin:0;
	background-color: #F50;
}

nav ul {
	padding-left: 0;
}

nav li {
	display: inline;
	list-style-type: none;
}

nav a {
	display: inline-block;
	padding: 1em;
	text-decoration: none;
	color: #FFF;
	transition: all 500ms;
}

nav a:hover,
nav a:focus {
	background-color: #D30;
	outline: #F00 solid 5px;
	font-size: 150%;
}

